* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* border: 2px solid brown; */
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.parent {

    /* border: 2px solid brown; */
    /* background-color: rgba(255, 255, 255, 0.7); */
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;

}

h1 {
    font-size: 50px;
    text-shadow: 2px -2px 2px white;
    background-image: linear-gradient(to right, rgb(166, 61, 61), orange);
    /* border: 2px solid brown; */
    box-shadow: 2px 10px 15px brown;
    text-align: center;
}

#displayBox {
    /* border: 2px solid brown; */
    font-size: 400px;
    width: 80%;
    text-align: center;
    text-shadow: 2px 8px 8px rgb(181, 22, 22);


}

/* span{
    font-size: 50px;
    width: 40%;
    
    text-shadow: 2px -2px 2px white;
    background-image: linear-gradient(to right, rgb(166, 61, 61), orange);
    /* border: 2px solid brown; */
    box-shadow: 2px 10px 15px brown;
    text-align: center; */


    /* font-size: 100px;
    font-weight: bolder;
    text-shadow: 2px 8px 8px rgb(181, 22, 22);
    background-color: rgba(240, 83, 83,0.2); */



.push {
    /* border: 2px solid brown; */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), orange);
    box-shadow: 2px -10px 15px brown;
    width: 40%;
    text-align: center;
}

button {
    /* border: 2px solid brown; */
    font-size: 20px;
    padding: 2px;
    margin: 10px;
    box-shadow: 2px 10px 15px brown;

    /* background-color: rgb(170, 234, 252); */
    /* color: rgb(201, 52, 52); */
}

@media only screen and (max-width:500px) {
   
   h1 {
        font-size: 35px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), orange);
    }

    #displayBox {
        font-size: 200px;
        text-shadow: 2px 8px 8px black;
    }

    .push {
        border: none;
        background-image: none;
        box-shadow: none;
        width: 90%;
        text-align: right;
        display: flex;
        flex-direction: column;

    }

    button {
        background-color: rgba(255, 165, 0, 0.2);
        border: none;
        border: 2px solid brown;
    }

}


@media only screen and (max-width:1100px) {
.push {
    border: none;
    background-image: none;
    box-shadow: none;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 165, 0, 0.5));

    /* display: flex;
    flex-direction: column; */

}

button {

    /* background-color: rgba(255, 165, 0, 0.2); */
    border: none;
    border: 2px solid brown;
}

}